@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  overflow-x: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*button animations*/
@keyframes slideR {
  0% {
    margin-right: 50%;
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    margin-right: -50%;
    opacity: 1;
  }
}

 @keyframes slideL {
  0% {
    margin-right: -50%;
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    margin-right: 50%;
    opacity: 1;
  }
 }

 /*mobile layout with no scrollbars and resize feature*/
 @media screen and (max-width: 640px) {
  html::-webkit-scrollbar, #textEditor::-webkit-scrollbar {
    display: none
  }
  #textEditor {
    resize: none
  }
 }